<div class="container">
    <tr>
        <td><%= review.title %></td>
        <td> <%= link_to  "Show", review_path(review) %></td>
        <td> <%= link_to  "Destroy", review_path(review), method: :delete %></td>
    </tr>
</div>